langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.28
langchain-openai==0.1.20
langchain-chroma==0.1.2
langchainhub==0.1.20
python-dotenv==1.0.1
unstructured[md]
gpt4all==2.7.0
python-multipart==0.0.9
fastapi==0.112.0
uvicorn==0.30.5
